/* fontit */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


/* perus asioita */


section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.tietoa, .harrastukset, .galleria, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.tietoa .tietoa-content,
.harrastukset .harrastus-content,
.galleria .kuva-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}


/* Navigointi */


.navigointi{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navigointi .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigointi .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navigointi .logo a span{
    color: #FFE4E1;
    transition: all 0.3s ease;
}
.navigointi.sticky .logo a span{
    color: #fff;
}
.navigointi .menu li{
    list-style: none;
    display: inline-block;
}
.navigointi .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navigointi .menu li a:hover{
    color: white;
}
.navigointi.sticky .menu li a:hover{
    color: #fff;
}


/* home */


.home{
    display: flex;
    background: url("CQx.gif") no-repeat center;
    height: 100vh;
    color: #111;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}


/* Tietoa */


.tietoa {
    color:#fff;
    background: rgb(6, 51, 0);
}

.tietoa .tietoa-content .left{
    width: 45%;
}
.tietoa .tietoa-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.tietoa .tietoa-content .right{
    width: 55%;
}
.tietoa .tietoa-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tietoa .tietoa-content .right .text span{
    color: crimson;
}
.tietoa .tietoa-content .right p{
    text-align: justify;
}
.tietoa .tietoa-content .right a{
    display: inline-block;
    background: #111;
    color: #111;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.tietoa .tietoa-content .right a:hover{
    color: crimson;
    background: none;
}


/* kuva 1*/


.kuva1{
    display: flex;
    background: url("https://data.whicdn.com/images/306041792/original.gif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background: rgb(7, 83, 0);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: purple;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* Galleria */


.galleria{
    color: #fff;
    background: rgb(6, 51, 0);
}
.galleria .title::before,
.teams .title::before{
    background: rgb(7, 85, 0);
}
.galleria .kuva-content .card{
    width: clac(33% - 20px);
    background: rgb(0, 87, 29);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.galleria .kuva-content .card:hover{
    background: purple;
}
.galleria .kuva-content .card .box{
    transition: all 0.3s ease;
}
.galleria .kuva-content .card:hover .box{
    transform: scale(1.05);
}
.galleria .kuva-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.galleria .kuva-content .card:hover i{
    color: #111;
}
.galleria .kuva-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.flip-container {
	perspective: 1000px;
}


/* kÃ¤Ã¤ntÃ¶ animaatio juttu */


.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}


/* kÃ¤Ã¤ntÃ¶ animaatio jutun kÃ¤Ã¤ntÃ¶nopeus */


.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;

	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}


/* kuva 2*/


.kuva2{
    display: flex;
    background: url("https://thumbs.gfycat.com/HardNervousHumpbackwhale-size_restricted.gif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background: rgb(7, 83, 0);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: purple;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* Harrastukseni */


.harrastukset{
    color:#fff;
    background: rgb(6, 51, 0);
}
.harrastukset .title::before,
.teams .title::before{
    background: rgb(1, 79, 0);
}

.harrastukset .harrastus-content .card{
    width: calc(33% - 20px);
    background: rgb(0, 87, 29);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.harrastukset .harrastus-content .card:hover{
    background: rgb(223, 133, 223);
}
.harrastukset .harrastus-content .card .box{
    transition: all 0.3s ease;
}
.harrastukset .harrastus-content .card:hover .box{
    transform: scale(1.05);
}
.harrastukset .harrastus-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.harrastukset .harrastus-content .card:hover i{
    color: rgb(6, 70, 0);
}
.harrastukset .harrastus-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/* kuva 3*/


.kuva3{
    display: flex;
    background: url("https://thumbs.gfycat.com/HardNervousHumpbackwhale-size_restricted.gif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background: rgb(7, 83, 0);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: purple;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsiivisuus */


@media (max-width: 1104px) {
    .tietoa .tietoa-content .left img{
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-nappi{
        display: block;
        z-index: 999;
    }
    .menu-nappi i.active:before{
        content: "\f00d";
    }
    .navigointi .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navigointi .menu.active{
        left: 0;
    }
    .navigointi .menu li{
        display: block;
    }
    .navigointi .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .tietoa .tietoa-content .column{
        width: 100%;
    }
    .tietoa .tietoa-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .tietoa .tietoa-content .right{
        flex: 100%;
    }
    .harrastukset .harrastus-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .harrastukset .harrastus-content .card{
        width: 100%;
    }
}



/* kuva 4*/


.kuva4{
    display: flex;
    background: url("https://data.whicdn.com/images/76982445/original.gif") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
footer{
    background: rgb(7, 83, 0);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: purple;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* copyright footer */


footer {
    background: rgb(6, 51, 0);
    text-align: center;
    color: #fff;
    padding: 20px;
}

footer .form-group {
    margin: 32px;
}

footer .form-group label {
    width: 200px;
    display: inline-block;
    text-align: left;
}

footer .form-group input, footer .form-group textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 30%;
    font-size: 1rem;
}

footer .form-group textarea {
    min-height: 100px;
}

footer button {
    background-color: coral;
    border-radius: 5px;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: inherit;
}

footer p {
    margin-top: 48px;
    font-size: 12px;
    color: white;
}

@media (max-width: 690px) {
    .max-width{
        padding: 20px;
    }
    #laatikot .laatikko img {
        width: 75px;
        height: 75px;
    }
    #galleria img {
        width: 80px;
        height: 80px;
    }
    .projekti_laatikot .laatikko,
    .projekti_laatikot .laatikkoo {
        font-size: 8px;
    }
    .Tietoa img {
        width: 100px;
        height: auto;
    }
    .Tietoa h2,
    .Tietoa p {
        text-align: left;
    }
    .flip-card {
        height: 200px;
    }
    .flip-card p {
        font-size: 10px;
    }
    .flip-card h2 {
        font-size: 18px;
    }
    #grid img {
        height: 75px;
    }
}
@media (min-width:1025px) {
    .main_nav {
        position: fixed;
    }
}
.from {
    text-align: left;
    margin-top: 30px;
}
  
 input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}


input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
  
  button:hover {
    box-shadow: none;
  }
  
